*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/**/

summary {
    border: none;
    margin-bottom: 20px;
}
  
legend {
  font-size: 18px;
  color: #333333;
  margin-bottom: 10px;
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 2px solid #0056ff;
}

/**/

/*Contenedor de las opciones : Reclamo - Quejas - Apelacion*/
.contenedorRQA{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.cajaContenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    gap: 20px;
}

/* .contenedorOpciones{
    background-color: #002ccc;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    color: #F2F2F2;
    cursor: pointer;
} */

.contenedorOpciones label{
    font-size: 20px;
    font-weight: bold;
}

.contenedorOpciones{
    padding: 10px;
    text-align: center;
    background-color: #002ccc;
    color: white;
    border-radius: 10px;
}


.contenedorTituloDescripcion{
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    cursor: pointer;
}

.descripcionCajas{
    padding: 10px;
    margin-top: 10px;
    text-align: justify;
    height: 80%;
    color: #002ccc;
}

.contenedorTituloDescripcion:hover{
    transform: scale(1.05);
    /* box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2); */
}



/*Titulo*/

.tituloOpciones{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedorTitulo{
    width: 70%;
    display: flex;
}
.btnTitulo{
    width: 10%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="button"]{
    /* outline: none; */
    /* width: 100%; */
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff4c00;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.tituloOpcion{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tituloOpcion h3{
    color: #002ccc;
    font-size: 30px;
}

#tituloOpcionesQRA{
    display: none;
}

/* GLOSARIO */

.glosario{
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 50%;
}

.contenedorGlosario{
    background-color:#11f5f7 ;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    color: black;
}

#glosarioQRA{
    display: none;
}

/* Contenedor de preguntas: Usuarios - Abonado - Representante */

.contenedorPreguntas{
    display: flex;
    justify-content: center;
    padding: 20px;
}

details{
    width: 50%;
    padding: 10px;
}

.contenedorDatosPersonales{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    /*margin-top: 20px;*/
}

.datos{
    margin: 5px;
    padding: 15px;
    width: 40%;
}

.datos_solo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.opcionCorreo{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.representantecss{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

input[type="text"],input[type="email"],input[type="file"],input[type="date"],input[type="number"],select{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    background-color: #f5f8ff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

textarea{
    background-color: aliceblue;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 8px;
    outline: none;
    margin-top: 10px;
    padding: 20px;
    box-shadow: 3px 2px 1px black;
}

/** errores **/

.error{
    border: 1px solid #ff4c00;
}

.txtError{
    padding: 10px;
    color: red;
}

/**fin de errores**/

label{
    display: block;
    margin-bottom: 5px;
    color: #555555;
    font-weight: bold;
}

/* continuar , despues de los datos personales*/

.btnContinuar{
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* Seleccionables */

.seleccionarOpcciones{
    gap: 10px;
    padding: 20px;
    /* margin-bottom: 10px; */
}

.cajasCentradas{
    width: 50%;
    padding: 10px;
}

.seleccionMultipleReclamo{
    width: 42%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cajasContenedorSeleccionesMultiples{
    display: flex;
    justify-content: center;
}


.materiaReclamable{
    width: 42%;
    padding: 10px;
}

.fc{
    width: 50%;
    padding: 10px;
}

.materiaReclamableUnica{
    padding: 20px;
}


/* contenedor de respuestas en las opciones seleccionados*/

.cajaRespuesta{
    padding: 20px;
    width: 90%;
    display: block;
    margin: auto;
}

.columnTwo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}




/*BOTON DE ENVIAR EL FORMULARIO*/

.contenedorBtn{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #002ccc;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;

    /* padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: 15px;
    cursor: pointer; */
}

button:hover{
    background-color: #001d86;
    outline: none;
}

/**/

details{
    cursor: pointer;
}

/**/

.alert{
    color: red;
    padding: 10px;
}

/**/

.contenedorTicket{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaContenedorTickets{
    border: 2px solid #002ccc;
    padding: 10px;
    display: block;
    margin: auto;
    border-radius: 8px;
    width: 30%;
    word-wrap: break-word; /* Rompe palabras largas si es necesario */
    background-color: whitesmoke;
}

.tituloTicket{
    background-color: #ff4c00;
    /*border: 2px solid #002ccc;*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 12px;
    color: white;
    border-radius: 5px;
}

.ticket{
    color: black;
    padding: 12px;
    line-height: 30px;
}
/**/

.contenedorHijo{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

/* Para el descargo del cliente */

.detalleInformacionExtra{
    display: flex;
    justify-content: center;
}

/*carga*/

.contenedorLoading{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente */
    backdrop-filter: blur(10px);
}

.loader{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}

.loader::before,
.loader::after{
    content: '';
    position: absolute;
    border-radius: inherit;
}

.loader::before{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg,#002ccc 30%,#ff4c00 70%);
}

.loader::after{
    width: 85%;
    height: 85%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}

/* regresar a casa*/

.btnhome{
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #002ccc;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}

.home{
    display: flex;
    justify-content: center;
}

/**/


/* ESTILO DE FECHA */



/* FIN DE ESTILO DE FECHA*/

/* text area*/

textarea{
    white-space: pre-wrap;
}

/* estilo fin de text area*/

/**/

@media only screen and (max-width: 768px) {
    .contenedorOpciones {
        width: 100%;
    }
    .contenedorTitulo{
        width: 70%;
    }
    .contenedorGlosario{
        width: 70%;
    }
    details{
        width: 70%;
    }
    .datos{
        width: 100%;
    }
    .cajasCentradas{
        width: 70%;
    }
    .seleccionMultipleReclamo{
        width: 80%;
        justify-content: center;
    }
    .materiaReclamable{
        width: 80%;
    }
    .fc{
        width: 80%;
    }

    /**/

    .contenedorTitulo{
        width: 100%;
        flex-wrap: wrap;
    }

    .btnTitulo{
        width: 100%;
    }

    .tituloOpcion{
        width: 100%;
    }

    .glosario{
        width: 100%;
    }

    /**/

    .cajaContenedorTickets{
        width: 80%;
    }
    
    /**/
    .contenedorTituloDescripcion{
        width: 100%;
    }



}