@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Montserrat"; */
    font-family: "Exo 2";
}

/**/


/**/

.quien{
    padding: 20px;
    gap: 20px;
}

.back{
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

/* titulo de contenido*/
.titulosContenido{
    padding: 10px;
}

.contenidoQRA{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.selecionQRA{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 40%;
}

.dtp{
    text-align: center;
    padding: 20px;
}

/**/

/* glosarios si funciona xd*/
.contenedorGlosario{
    padding: 20px;
}
.glosario{
    background-color: #aed6f1;
    border-radius: 15px;
    display: block;
    margin: auto;
    width: 40%;
    padding: 10px;
    line-height: 30px;
}



/**/

.datoServicio{
    background-color: red;
    display: flex;
    
}

/**/


.documento{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
}

.direccion{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
}

.autoriza{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tipo{
    background-color: green;
}


/**/

select{
    padding: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    background-color: aliceblue;
}

.num{
    background-color: purple;
    padding: 10px;
}

input{
    padding: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
    background-color: aliceblue;
}

input[type=text]:hover{
    box-shadow: 5px 5px 5px black;
}

.archivo{
    width: 81%;
    display: block;
    margin: auto;
}


.autoriza{
    padding: 10px;
}

.opcion{
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.textolabel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.opcionCorreo{
    display: flex;
    justify-content: space-around;
}

/**/

.respuestasfcnoprocesado{
    padding: 10px;
}

.radiocheck{
    padding: 20px;
}

.contenidoradio{
    padding: 20px;
    gap: 20px;
    text-align: center;
    width: 80%;
    background-color: blue;
}

.cajaradio{
    background-color: green;
    padding: 10px;
    border-radius: 20px;
    width: 30%;
}

/* 2da parte*/

.seleccionarOpcciones{
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;

}

.materiaReclamableUnica{
    padding: 10px;
    width: 80%;
    display: block;
    margin: auto;
}

.materiaReclamable{
    padding: 10px;
    width: 30%;
}

.fc{
    padding: 10px;
    width: 30%;
}

option{
    width: 30%;
}

/*contenedor de respuestas*/

.contenedorApelacion{
    padding: 20px;
}

.contenedorQueja{
    padding: 20px;
}

.contenedorReclamo{
    background-color: green;
    padding: 20px;
}

.contenedorOpciones{
    width: 38%;
    display: block;
    margin: auto;
}

.respuestasfc{
    display: block;
    margin: auto;
    width: 90%;
}

.cajaRespuesta{
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.cajas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

/* quejas  - reclamos - apelaciones*/

.cajasopciones{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.contenedor{
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    width: 20%;
    margin: 10px;
}

.contenedor img{
    width: 50%;
    display: block;
    margin: auto;
    padding: 20px;
}

.contenedor p{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.respuestasCalidad{
    display: flex;
    justify-content: center;
}


/* no me recuerdo xd xd xd xd xd*/

.seleccionMultipleReclamo{
    display: flex;
    justify-content: center;
}


/**/

.cajaContenedor{
    width: 68%;
    display: block;
    margin: auto;
}

.cajaColumnTwo{
    margin-top: 20px;
}

.columnTwo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cajaContenedorApelacionCtwo{
    margin: 10px;
    width: 45%;
}

/**/


.cajaContenedor{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contenedorRespuestas{
    padding: 10px;
    width: 40%;
    margin: 5px;
}

.Sola{
    width: 90%;
    display: block;
    margin: auto;
    padding: 5px;
}

/**/

.cajaSolaFile{
    width: 50%;
    display: block;
    margin: auto;
}

/**/

/*Mejorando los css*/

.estructuradoble{
    flex-wrap: wrap;
    justify-content: space-around;
}



/**/

/*fin 2da parte*/


/**/

.cajaBotones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.btnPre{
    padding: 5px;
}

button{
    padding: 20px;
    outline: none;
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

button:hover{
    background-color: rgb(0, 0, 129);
}


/**/

.datosCompletos{
    padding: 10px;
}

.respuestasUsuario{
    display: block;
    margin: auto;
    width: 80%;
    text-align: center;
    padding: 10px;
    background-color: green;
}

.tituloDatos{
    padding: 10px;
}

/**/

.tituloContenido{
    color: #e74c3c;
    text-align: center;
    padding: 20px;
}

/* cambiando el diseño general*/



/* los radios optimizando*/

.contenedorRadiosRQA{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.radios{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 50%;
    padding: 20px;
    color: white;
    font-weight: bold;
}

.radioRQA{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: gray;
    width: 20%;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
}

/* glosarios si funciona xd*/
.contenedorGlosario{
    padding: 20px;
}
.glosario{
    background-color: whitesmoke;
    border-radius: 15px;
    display: block;
    margin: auto;
    width: 42%;
    padding: 10px;
    line-height: 30px;
}

/* titulo de contenido*/
.titulosContenido{
    padding: 10px;
}

.contenidoQRA{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.selecionQRA{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 40%;
}

.dtp{
    text-align: center;
    padding: 20px;
}

/*contenidos*/
.contenidodpvdos{
    padding: 20px;
}
.contenidoTpUsuario{
    width: 50%;
    display: block;
    margin: auto;
    padding: 20px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

/**/

.datosPersonales{
    padding: 10px;
}

.cajasCentradas{
    width: 100%;
    display: block;
    margin: auto;
    padding: 20px;
}

.contenedorDatosPersonales{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.datos{
    margin: 5px;
    padding: 15px;
    width: 40%;
}

.representantecss{
    justify-content: space-around;
}

.contenedor{
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    width: 15%;
    margin: 10px;
}

/* cuando selecciona un dato correcto xd*/

.activo{
    background-color: #aed6f1;
}
/**/



/* Las selecciones multiples*/

.seleccionarOpcciones{
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.seleccionMultipleReclamo{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.materiaReclamableUnica{
    padding: 10px;
    width: 40%;
    display: block;
    margin: auto;
}

.materiaReclamable{
    padding: 10px;
    width: 40%;
}

.fc{
    padding: 10px;
    width: 40%;
}

option{
    width: 30%;
}

/* continuar */

.btnContinuar{
    display: flex;
    justify-content: center;
}


/**/

/**/

@media only screen and (max-width: 768px) {

    .cajasCentradas{
        width: 100%;
    }
    
    .contenedor{
        width: 80%;
    }

    .radioRQA{
        width: 100%;
    }

    .glosario{
        width: 100%;
    }

    .seleccionMultipleReclamo{
        display: block;
        margin: auto;
        width: 100%;
    }

    .materiaReclamable{
        padding: 10px;
        width: 100%;
    }
    
    .fc{
        padding: 10px;
        width: 100%;
    }

    .materiaReclamableUnica{
        width: 100%;
    }
    
    .contenedorOpciones{
        width: 85%;
    }

    .cajaContenedorApelacionCtwo{
        width: 100%;
    }

    .contenidoTpUsuario{
        width: 100%;
    }

    .datos{
        width: 100%;
    }

}